<page-wrapper pageTitle="Add Role">
    <form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-col gap-6">
        <div class="flex flex-col gap-6">
            <h3 class="text-lg font-medium">Role Information</h3>
            <div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
                <div class="flex flex-col gap-1">
                    <label for="name" class="brk-label">Role Name</label>
                    <input
                        id="name"
                        type="text"
                        formControlName="name"
                        placeholder="e.g. Manager"
                        class="brk-input w-full"
                        [class.brk-input__error]="name.invalid && name.touched"
                    />
                    @if (name.hasError("required") && name.touched) {
                        <span class="text-xs text-red-500"
                            >Role name is required</span
                        >
                    }
                    @if (name.hasError("minlength") && name.touched) {
                        <span class="text-xs text-red-500"
                            >Role name must be at least 2 characters</span
                        >
                    }
                </div>
            </div>
        </div>
        @if (successMessage) {
            <div
                class="flex items-center gap-2 rounded border border-green-500 px-4 py-2 text-sm text-green-500"
            >
                <icon name="check_circle" />
                {{ successMessage }}
            </div>
        }
        @if (errorMessage) {
            <div
                class="flex items-center gap-2 rounded border border-red-500 px-4 py-2 text-sm text-red-500"
            >
                <icon name="cancel" />
                {{ errorMessage }}
            </div>
        }
        <button
            brkBtn
            type="submit"
            [loading]="isSubmitting"
            [disabled]="isSubmitting || form.invalid"
        >
            ADD
        </button>
    </form>
</page-wrapper>
