<div class="overflow-x-auto">
    <table
        cdk-table
        [dataSource]="filteredUsers()"
        class="min-h-28 w-full table-auto"
    >
        <ng-container cdkColumnDef="index">
            <th cdk-header-cell *cdkHeaderCellDef>#</th>
            <td cdk-cell *cdkCellDef="let user; let i = index">
                {{ i + 1 }}
            </td>
        </ng-container>
        <ng-container cdkColumnDef="email">
            <th cdk-header-cell *cdkHeaderCellDef>
                <div class="-mx-4 -my-1">
                    <brk-button
                        variant="ghost"
                        (click)="setSort('email')"
                        class="rounded-xl font-bold"
                    >
                        <span class="flex items-center gap-1">
                            Email
                            @if (sortField() === "email") {
                                <sort-indicator [direction]="sortDirection()" />
                            }
                        </span>
                    </brk-button>
                </div>
            </th>
            <td cdk-cell *cdkCellDef="let user">
                {{ user.email }}
            </td>
        </ng-container>
        <ng-container cdkColumnDef="roles">
            <th cdk-header-cell *cdkHeaderCellDef>
                <div class="-mx-4 -my-1">
                    <brk-button
                        variant="ghost"
                        (click)="setSort('role')"
                        class="rounded-xl font-bold"
                    >
                        <span class="flex items-center gap-1">
                            Roles
                            @if (sortField() === "role") {
                                <sort-indicator [direction]="sortDirection()" />
                            }
                        </span>
                    </brk-button>
                </div>
            </th>
            <td cdk-cell *cdkCellDef="let user">
                {{ user.role }}
            </td>
        </ng-container>

        <tr
            cdk-header-row
            *cdkHeaderRowDef="displayedColumns"
            class="border-y border-stone-300 *:border-stone-300 *:px-4 *:py-2"
        ></tr>
        <tr
            cdk-row
            *cdkRowDef="let row; columns: displayedColumns"
            class="*:w-max *:min-w-40 *:px-4 *:py-2 **:whitespace-nowrap hover:bg-stone-100"
        ></tr>

        <tr *cdkNoDataRow>
            <td class="h-48 text-center" [colSpan]="displayedColumns.length">
                No data.
            </td>
        </tr>
    </table>
</div>
