<div class="overflow-x-auto">
  <table
    cdk-table
    [dataSource]="filteredEmployees()"
    class="min-h-28 w-full table-fixed"
  >
    <ng-container cdkColumnDef="employeeId">
      <th cdk-header-cell *cdkHeaderCellDef class="">
        <div class="-mx-4 -my-1 flex items-center">
          <div class="relative">
            <button
              (click)="employeeIdSearchPanel.toggle()"
              class="flex items-center rounded-xl p-2 hover:bg-stone-100"
            >
              <i class="ms">filter_alt</i>
            </button>
            @if (employeeIdSearchPanel.active) {
              <div
                class="absolute top-full left-2 z-5 rounded-lg border border-stone-300 bg-white p-1 shadow-lg"
              >
                <input
                  [ngModel]="employeeIdFilter()"
                  (ngModelChange)="employeeIdFilter.set($event)"
                  placeholder="Employee Id"
                  class="rounded-md border border-stone-300 px-4 py-2 placeholder:text-stone-300"
                />
              </div>
            }
          </div>
          <button
            (click)="setSort('employeeId')"
            class="flex items-center gap-1 rounded-xl p-2 hover:bg-stone-100"
          >
            Employee ID
            @if (sortField() === "employeeId") {
              <i sortIndicator [direction]="sortDirection()"></i>
            }
          </button>
        </div>
      </th>
      <td cdk-cell *cdkCellDef="let employee">{{ employee.employeeId }}</td>
    </ng-container>
    <ng-container cdkColumnDef="firstName">
      <th cdk-header-cell *cdkHeaderCellDef>
        <div class="-mx-4 -my-1 flex items-center">
          <div class="relative">
            <button
              (click)="firstNameSearchPanel.toggle()"
              class="flex items-center rounded-xl p-2 hover:bg-stone-100"
            >
              <i class="ms">filter_alt</i>
            </button>
            @if (firstNameSearchPanel.active) {
              <div
                class="absolute top-full left-2 z-5 rounded-lg border border-stone-300 bg-white p-1 shadow-lg"
              >
                <input
                  [ngModel]="firstNameFilter()"
                  (ngModelChange)="firstNameFilter.set($event)"
                  placeholder="First Name"
                  class="rounded-md border border-stone-300 px-4 py-2 placeholder:text-stone-300"
                />
              </div>
            }
          </div>
          <button
            (click)="setSort('firstName')"
            class="flex items-center gap-1 rounded-xl p-2 hover:bg-stone-100"
          >
            First Name
            @if (sortField() === "firstName") {
              <i sortIndicator [direction]="sortDirection()"></i>
            }
          </button>
        </div>
      </th>
      <td cdk-cell *cdkCellDef="let employee">{{ employee.firstName }}</td>
    </ng-container>
    <ng-container cdkColumnDef="lastName">
      <th cdk-header-cell *cdkHeaderCellDef>
        <div class="-mx-4 -my-1 flex items-center">
          <div class="relative">
            <button
              (click)="lastNameSearchPanel.toggle()"
              class="flex items-center rounded-xl p-2 hover:bg-stone-100"
            >
              <i class="ms">filter_alt</i>
            </button>
            @if (lastNameSearchPanel.active) {
              <div
                class="absolute top-full left-2 z-5 rounded-lg border border-stone-300 bg-white p-1 shadow-lg"
              >
                <input
                  [ngModel]="lastNameFilter()"
                  (ngModelChange)="lastNameFilter.set($event)"
                  placeholder="Last Name"
                  class="rounded-md border border-stone-300 px-4 py-2 placeholder:text-stone-300"
                />
              </div>
            }
          </div>
          <button
            (click)="setSort('lastName')"
            class="flex items-center gap-1 rounded-xl p-2 hover:bg-stone-100"
          >
            Last Name
            @if (sortField() === "lastName") {
              <i sortIndicator [direction]="sortDirection()"></i>
            }
          </button>
        </div>
      </th>
      <td cdk-cell *cdkCellDef="let employee">{{ employee.lastName }}</td>
    </ng-container>
    <ng-container cdkColumnDef="action">
      <th cdk-header-cell *cdkHeaderCellDef></th>
      <td cdk-cell *cdkCellDef="let employee">
        <div class="mx-auto flex items-center gap-4">
          <button (click)="openupdatePanel(employee)" class="flex items-center">
            <i class="ms">edit</i>
          </button>
          <button class="flex items-center"><i class="ms">delete</i></button>
        </div>
      </td>
    </ng-container>

    <tr
      cdk-header-row
      *cdkHeaderRowDef="displayedColumns"
      class="border-y border-stone-300 *:border-stone-300 *:px-4 *:py-2"
    ></tr>
    <tr
      cdk-row
      *cdkRowDef="let row; columns: displayedColumns"
      class="*:min-w-48 *:px-4 *:py-2 hover:bg-stone-100"
    ></tr>

    <tr *cdkNoDataRow>
      <td class="h-48 text-center" colspan="4">No data.</td>
    </tr>
  </table>
</div>

@if (currentFocusedEmployee() && updatePanel.active) {
  <app-update-employee
    [employee]="currentFocusedEmployee()!"
    (closed)="closeupdatePanel()"
  />
}
