<div class="overflow-x-auto">
  <table
    cdk-table
    [dataSource]="filteredEmployees()"
    class="min-h-28 w-full table-auto"
  >
    <ng-container cdkColumnDef="index">
      <th cdk-header-cell *cdkHeaderCellDef>#</th>
      <td cdk-cell *cdkCellDef="let employee; let i = index">
        {{ i + 1 }}
      </td>
    </ng-container>
    <ng-container cdkColumnDef="employeeId">
      <th cdk-header-cell *cdkHeaderCellDef>
        <div class="-mx-4 -my-1">
          <brk-button
            variant="ghost"
            (click)="setSort('employeeId')"
            class="rounded-xl font-bold"
          >
            <span class="flex items-center gap-1">
              Employee ID
              @if (sortField() === "employeeId") {
                <sort-indicator [direction]="sortDirection()" />
              }
            </span>
          </brk-button>
        </div>
      </th>
      <td cdk-cell *cdkCellDef="let employee">{{ employee.employeeId }}</td>
    </ng-container>
    <ng-container cdkColumnDef="firstName">
      <th cdk-header-cell *cdkHeaderCellDef>
        <div class="-mx-4 -my-1">
          <brk-button
            variant="ghost"
            (click)="setSort('firstName')"
            class="rounded-xl font-bold"
          >
            <span class="flex items-center gap-1">
              First Name
              @if (sortField() === "firstName") {
                <sort-indicator [direction]="sortDirection()" />
              }
            </span>
          </brk-button>
        </div>
      </th>
      <td cdk-cell *cdkCellDef="let employee">{{ employee.firstName }}</td>
    </ng-container>
    <ng-container cdkColumnDef="lastName">
      <th cdk-header-cell *cdkHeaderCellDef>
        <div class="-mx-4 -my-1">
          <brk-button
            variant="ghost"
            (click)="setSort('lastName')"
            class="rounded-xl font-bold"
          >
            <span class="flex items-center gap-1">
              Last Name
              @if (sortField() === "lastName") {
                <sort-indicator [direction]="sortDirection()" />
              }
            </span>
          </brk-button>
        </div>
      </th>
      <td cdk-cell *cdkCellDef="let employee">{{ employee.lastName }}</td>
    </ng-container>
    <ng-container cdkColumnDef="action">
      <th cdk-header-cell *cdkHeaderCellDef></th>
      <td cdk-cell *cdkCellDef="let employee">
        <div class="mx-auto flex items-center gap-4">
          <button (click)="openupdatePanel(employee)" class="flex items-center">
            <i class="ms">edit</i>
          </button>
          <button class="flex items-center"><i class="ms">delete</i></button>
        </div>
      </td>
    </ng-container>

    <tr
      cdk-header-row
      *cdkHeaderRowDef="displayedColumns"
      class="border-y border-stone-300 *:border-stone-300 *:px-4 *:py-2"
    ></tr>
    <tr
      cdk-row
      *cdkRowDef="let row; columns: displayedColumns"
      class="*:min-w-40 *:px-4 *:py-2 hover:bg-stone-100"
    ></tr>

    <tr *cdkNoDataRow>
      <td class="h-48 text-center" [colSpan]="displayedColumns.length">
        No data.
      </td>
    </tr>
  </table>
</div>

@if (currentFocusedEmployee() && updatePanel.active) {
  <app-update-employee
    [employee]="currentFocusedEmployee()!"
    (closed)="closeupdatePanel()"
  />
}
