<div
  role="button"
  (click)="sidebarService.sidebar.deactivate()"
  [class]="`fixed inset-0 z-9 bg-stone-500/50 backdrop-blur md:hidden transition-all duration-500 ${sidebarService.sidebar.active ? 'visible opacity-100' : 'invisible opacity-0'}`"
></div>

<div
  [class]="`fixed top-0 md:left-0 flex h-dvh w-72 flex-col gap-4 bg-white z-10 p-4 transition-all duration-500 ${sidebarService.sidebar.active ? 'left-0' : '-left-72'}`"
>
  <a class="text-center text-2xl font-bold">EMPOLI</a>
  <div class="flex flex-col items-center gap-2 rounded-xl p-2">
    <div class="size-12 animate-pulse rounded-full bg-stone-200"></div>
    <span class="text-lg">Saksit Sirisakda</span>
  </div>
  <nav>
    <ul class="flex flex-col">
      <li>
        <a
          class="flex w-full items-center gap-2 rounded-full px-4 py-2 font-medium hover:bg-stone-800 hover:text-white"
        >
          <i class="ms">home</i>
          Home
        </a>
      </li>
      <li>
        <a
          class="flex w-full items-center gap-2 rounded-full px-4 py-2 font-medium hover:bg-stone-800 hover:text-white"
        >
          <i class="ms">people</i>
          Employee
        </a>
      </li>
    </ul>
  </nav>
</div>
