/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
    user-select: none;
  }
}

@utility brk-btn__base {
  @apply rounded px-4 py-2 text-sm font-medium uppercase transition-all focus:outline-none active:scale-95 disabled:cursor-not-allowed disabled:opacity-50;
}

@utility brk-btn__primary {
  @apply brk-btn__base bg-stone-800 text-white hover:bg-stone-700;
}

@utility brk-btn__ghost {
  @apply brk-btn__base bg-transparent text-stone-900 hover:bg-stone-50;
}

@font-face {
  font-family: Jost;
  src: url("/fonts/Jost.ttf") format("truetype");
}

@font-face {
  font-family: "Material Symbols Rounded";
  src: url("/fonts/MaterialSymbolsRounded.woff2") format("woff2");
}

th {
  text-align: start;
}

.ms {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 48;
}

.ms.small {
  font-size: 16px;
}

body {
  font-family: Jost, sans-serif;
}

.scrollbar-thin {
  scrollbar-width: thin;
}
