<div class="flex h-dvh items-center justify-center p-4">
    <form
        [formGroup]="form"
        (ngSubmit)="login()"
        class="flex w-full max-w-sm flex-col gap-6 rounded-lg p-6 shadow"
    >
        <h2 class="text-center text-2xl font-bold">Login</h2>
        <div class="flex flex-col gap-4">
            <div class="flex flex-col gap-1">
                <label for="email" class="brk-label">Email</label>
                <input
                    id="email"
                    type="email"
                    formControlName="email"
                    placeholder="user@example.com"
                    autocomplete="email"
                    class="brk-input w-full"
                    [class.brk-input__error]="email.invalid && email.touched"
                />
                @if (email.hasError("required") && email.touched) {
                    <span class="text-xs text-red-500">Email is required</span>
                }
                @if (email.hasError("email") && email.touched) {
                    <span class="text-xs text-red-500">Email is invalid</span>
                }
            </div>
            <div class="flex flex-col gap-1">
                <label for="password" class="brk-label">Password</label>
                <input
                    id="password"
                    type="password"
                    formControlName="password"
                    placeholder="********"
                    autocomplete="current-password"
                    class="brk-input w-full"
                    [class.brk-input__error]="
                        password.invalid && password.touched
                    "
                />
                @if (password.hasError("required") && password.touched) {
                    <span class="text-xs text-red-500"
                        >Password is required</span
                    >
                }
                @if (password.hasError("minlength") && password.touched) {
                    <span class="text-xs text-red-500"
                        >Password is invalid</span
                    >
                }
            </div>
            <button
                brkBtn
                type="submit"
                [loading]="isSubmitting"
                [disabled]="isSubmitting || form.invalid"
            >
                Login
            </button>
        </div>
    </form>
</div>
